<div id="crud-endereco">
  <div id="crud-endereco-title">Endereço para entrega:</div>

  <div id="locationField">
    <i class="fas fa-search"></i>
    <input
    id="autocomplete"
    placeholder="Pesquisar novo endereço"
    onFocus="geolocate()"
    type="text"
    />
  </div>

  <div id="address-list"></div>

  <!-- Note: The address components in this sample are typical. You might need to adjust them for
             the locations relevant to your app. For more information, see
       https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
  -->
  <form id="address-form" >
    <div class="blocoInput w100">
      <label for="route">Rua</label>
      <input id="route" name="route" />
    </div>
    <div style="display: flex;">
      <div class="blocoInput w30">
        <label for="street_number">Número</label>
        <input id="street_number" name="street_number" />
      </div>
      <div class="blocoInput w100">
        <label for="complement">Complemento</label>
        <input id="complement" name="complement" />
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w50">
        <label for="sublocality_level_1">Bairro</label>
        <input id="sublocality_level_1" name="sublocality_level_1" />
      </div>
      <div class="blocoInput w50">
        <label for="administrative_area_level_2">Cidade</label>
        <input id="administrative_area_level_2" name="administrative_area_level_2"/>
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w20">
        <label for="administrative_area_level_1">UF</label>
        <input id="administrative_area_level_1" name="administrative_area_level_1"/>
      </div>
      <div class="blocoInput w50">
        <label for="postal_code">CEP</label>
        <input id="postal_code" name="postal_code" />
      </div>
    </div>
    <div id="radio-control">
      <i class="fas fa-home"></i>
      <label for="home_address">Casa</label>
      <input type="radio" name="address_type" value="home"/>
      <i class="far fa-building"></i>
      <label for="work_address">Trabalho</label>
      <input type="radio" name="address_type" value="work"/>
      <label for="other_address">Outro</label>
      <input type="radio" name="address_type" value="" checked="true"/>
    </div>
    <div class="blocoInput blocoButton w100">
      <div class="button confirmarBtn"><p>Adicionar Endereço</p></div>
      <div class="button cancelarBtn" onclick="showAddressList()"><p>Cancelar</p></div>
    </div>
  </form>
</div>