<div id="crud-endereco">
  <div id="crud-endereco-title">Endereço para entrega:</div>

  <div id="locationField">
    <i class="fas fa-search"></i>
    <input
    id="autocomplete"
    placeholder="Pesquisar novo endereço"
    onFocus="geolocate()"
    type="text"
    />
  </div>

  <div id="address-list"></div>

  <!-- Note: The address components in this sample are typical. You might need to adjust them for
             the locations relevant to your app. For more information, see
       https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
  -->
  <form id="address-form" >
    <div class="blocoInput w100">
      <label for="addr_street">Rua</label>
      <input id="addr_street" name="street" />
    </div>
    <div style="display: flex;">
      <div class="blocoInput w30">
        <label for="addr_number">Número</label>
        <input id="addr_number" name="number" />
      </div>
      <div class="blocoInput w100">
        <label for="addr_complement">Complemento</label>
        <input id="addr_complement" name="complement" />
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w50">
        <label for="addr_district">Bairro</label>
        <input id="addr_district" name="district" />
      </div>
      <div class="blocoInput w50">
        <label for="addr_city">Cidade</label>
        <input id="addr_city" name="city"/>
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w20">
        <label for="addr_state">UF</label>
        <input id="addr_state" name="state"/>
      </div>
      <div class="blocoInput w50">
        <label for="addr_postal_code">CEP</label>
        <input id="addr_postal_code" name="postal_code" />
      </div>
    </div>
    <div id="radio-control">
      <i class="fas fa-home"></i>
      <label for="home_address">Casa</label>
      <input type="radio" name="address_type" value="home"/>
      <i class="far fa-building"></i>
      <label for="work_address">Trabalho</label>
      <input type="radio" name="address_type" value="work"/>
      <label for="other_address">Outro</label>
      <input type="radio" name="address_type" value="" checked="true"/>
    </div>
    <div class="blocoInput blocoButton w100">
      <div class="button confirmarBtn"><p>Adicionar Endereço</p></div>
      <div class="button cancelarBtn" onclick="showAddressList()"><p>Cancelar</p></div>
    </div>
  </form>
</div>