<div style="font-weight: bold;">Meio de pagamento:</div>
<form id="pagamento" action="" method="post">
  <div class="blocoInput">
    <label for="numCartao">Número do Cartão</label>
    <input type="text" id="numCartao" name="numCartao" maxlength="16" required>
  </div>
  <div style="display: flex;">
    <div class="blocoInput w50">
      <label for="validade">Validade</label>
      <input type="text" id="validade" name="validade" maxlength="16" required>
    </div>
    <div class="blocoInput w50">
      <label for="cvv">CVV</label>
      <input type="text" id="cvv" name="cvv" maxlength="16" required>
    </div>
  </div>
  <div class="blocoInput">
    <label for="nomeTitular">Nome do Titular</label>
    <input type="text" id="nomeTitular" name="nomeTitular" maxlength="16" required>
  </div>
  <div class="blocoInput">
    <label for="cpfTitular">CPF</label>
    <input type="text" id="cpfTitular" name="cpfTitular" maxlength="16" required>
  </div>
  <div class="blocoInput">
    <input type="submit" value="Fazer pedido">
  </div>
</form>