<div id="localAutoComplete">
  <div style="font-weight: bold;">Endereço para entrega:</div>

  <div id="address-selected">
  </div>

  <div id="locationField">
    <input
    id="autocomplete"
    placeholder="Pesquisar endereço"
    onFocus="geolocate()"
    type="text"
    />
  </div>

  <div id="address-list">
  </div>
  
  <!-- Note: The address components in this sample are typical. You might need to adjust them for
             the locations relevant to your app. For more information, see
       https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
  -->
  <form id="address" action=>
    <div class="blocoInput w100">
      <label for="route">Rua</label>
      <input class="field" id="route" name="route" disabled="true" />
    </div>
    <div style="display: flex;">
      <div class="blocoInput w30">
        <label for="street_number">Número</label>
        <input class="field" id="street_number" name="street_number" />
      </div>
      <div class="blocoInput w100">
        <label for="complement">Complemento</label>
        <input class="field" id="complement" name="complement" />
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w50">
        <label for="sublocality_level_1">Bairro</label>
        <input class="field" id="sublocality_level_1" name="sublocality_level_1" disabled="true" />
      </div>
      <div class="blocoInput w50">
        <label for="administrative_area_level_2">Cidade</label>
        <input class="field" id="administrative_area_level_2" name="administrative_area_level_2" disabled="true" />
      </div>
    </div>
    <div style="display: flex;">
      <div class="blocoInput w20">
        <label for="administrative_area_level_1">UF</label>
        <input class="field" id="administrative_area_level_1" name="administrative_area_level_1" disabled="true" />
      </div>
      <div class="blocoInput w50">
        <label for="postal_code">CEP</label>
        <input class="field" id="postal_code" name="postal_code" disabled="true" />
      </div>
    </div>
    <div class="blocoInput blocoButton w100">
      <div class="button confirmarBtn" onclick="addAddress()"><p>Adicionar Endereço</p></div>
      <div class="button cancelarBtn" onclick="showAddressSelection()"><p>Cancelar</p></div>
    </div>
  </form>
</div>