<% const homeRout = '/'; %>
<% let sacolaClass, iconeDisplay, buttonDisplay; %> 

<% if (rout == homeRout) { %>
  <% sacolaClass="sacolaHome"; %>
  <% iconeDisplay="display:block"; %>
  <% buttonDisplay="display:inline-block"; %> 
<% } else { %>    
  <% sacolaClass="sacolaPedido"; %>
  <% iconeDisplay="display:none"; %>
  <% buttonDisplay="display:none"; %>
<% } %>

<div class="icone-sacola" style="<%=iconeDisplay%>" onclick="toggleSacola()">
  <i class="fas fa-shopping-bag fa-3x"></i>
  <div class="icone-sacola-num">0</div>
</div>
<div class="sacola <%= sacolaClass %>">
  <span class="sacola-texto">Sua sacola</span> 
  <ul id="sacola-lista">
    <div class="divisoria"></div>
  </ul>
  <span class="sacola-total-text">Total: R$ <span class="sacola-total-valor">0,00</span></span>
  <a href="/pedido/finalizar" style="<%=buttonDisplay%>">
    <button class="pagamento">Prosseguir para pagamento</button>
  </a>
</div>