<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/shopkeeper_login.css">

</head>

<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-none my-nav no-gutters">
                <!-- Logo -->
                <a href="" class="navbar-brand my-logo ">
                    <img src="../images/logo.png" alt="lanche">
                </a>
            </nav>
        </div>

        <div class="container">
            <section class="login">
                <form class="form-login" action="/lojista/login" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                            placeholder="digite seu email">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" name='password' class="form-control" id="exampleInputPassword1"
                            placeholder="Digite sua senha">
                    </div>                    
                    <% if (typeof notFound !== "undefined") { %>
                        <div class="form-group col-md-12 alert alert-danger">
                          E-mail ou senha inválidos
                        </div>
                      <% } %> 
                      <div class="row col-md-12">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <a class="nav-link" href="/lojista/cadastrar">Cadastre-se</a>
                      </div>                                    
                </form>
            </section>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container info-container">
            Burguer House
        </div>

    </footer>
    <!-- Footer -->
</body>

</html>