<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seu pedido</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="../stylesheets/sacola.css">
  <script defer src="../javascripts/sacola.js"></script>
</head>
<body>
  <%- include('./partials/sacola', {rout: '/pedido/finalizar'}); %>
</body>
</html>