<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seu pedido</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="../stylesheets/pedido.css">
  <link rel="stylesheet" href="../stylesheets/sacola.css">
  <script defer src="../javascripts/sacola.js"></script>
</head>
<body>

  <main>
    <section class="pagamento">
      <form action="" method="post">
        <div class="blocoInput">
          <label for="numCartao">Número do Cartão</label>
          <input type="text" id="numCartao" name="numCartao" maxlength="16" required>
        </div>
        <div style="display: flex;">
          <div class="blocoInput">
            <label for="validade">Validade</label>
            <input type="text" id="validade" name="validade" maxlength="16" required>
          </div>
          <div class="blocoInput">
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" maxlength="16" required>
          </div>
        </div>
        <div class="blocoInput">
          <label for="nomeTitular">Nome do Titular</label>
          <input type="text" id="nomeTitular" name="nomeTitular" maxlength="16" required>
        </div>
        <div class="blocoInput">
          <label for="cpfTitular">CPF</label>
          <input type="text" id="cpfTitular" name="cpfTitular" maxlength="16" required>
        </div>
        <div class="blocoInput">
          <input type="submit" value="Fazer pedido">
        </div>
      </form>
    </section>
    <%- include('./partials/sacola', {rout: '/pedido/finalizar'}); %>
  </main>

</body>
</html>