<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seu pedido</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  
  <!-- scritps/styles p/ sacola.ejs-->
  <link rel="stylesheet" href="../stylesheets/sacola.css">
  <script defer src="../javascripts/sacola.js"></script>

  <!-- scritps/styles p/ auto_completar.ejs-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" href="../stylesheets/local_autocompletar.css">
  <script defer src="../javascripts/local_autocompletar.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALe8l82_f0k-_VvUT0mPBO1h4VqyGz6QU&callback=initAutocomplete&libraries=places&v=weekly"></script>

  <!-- scritps/styles p/ form_pagamento.ejs-->
  <link rel="stylesheet" href="../stylesheets/form_pagamento.css">

  <!-- scripts/styles dessa pagina -->
  <link rel="stylesheet" href="../stylesheets/pedido.css">
</head>
<body>

  <main>
    <div class="containerForms">
      <section class="containerLocalAutocompletar ">
        <%- include('./partials/local_autocompletar'); %>
      </section>
  
      <section class="containerPagamento ">
        <%- include('./partials/form_pagamento'); %>
      </section>
    </div>

    <section class="containerSacola">
      <%- include('./partials/sacola', {rout: '/pedido/finalizar'}); %>
    </section>
  </main>

</body>
</html>