:root {
  --color-border-card-elements: rgb(200, 200, 200);
  --color-border-cardbox-selected: rgb(255, 90, 50);
  --color-bg-cardbox-selected: rgb(255, 255, 230);
  --color-bg-cardbox-info-selected: rgb(255, 140, 80);
  --color-cardLine1: rgb(50, 50, 50);
  --color-cardline1-selected: rgb(255, 90, 50);
  --color-cardLine2: rgb(150, 150, 150);
  --color-cardline2-selected: rgb(130, 130, 130);
  --color-cardbox-controls: rgb(100, 100, 100);
  --color-cardbox-controls-hover: rgb(255, 90, 50);
  --color-cardform-label: rgb(140, 140, 140);

  --maring-bottom-card-items: 12px;
  --border-radius-card-items: 5px;
  --transition-card-selected: 0.25s ease-in-out;
  --border-card-selected: 1px;
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w30 {
  width: 30%;
}
.w20 {
  width: 20%;
}

#crud-cartao {
  width: 100%;
}
#crud-cartao-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

/****************** BTN-CREDIT-CARD *************/
.buttons-new-card {
  display: flex;
  margin-bottom: var(--maring-bottom-card-items);
}
.btn-new-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border-card-elements);
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  padding: 5px;
  margin: 0 5px;
  /* margin-bottom: var(--maring-bottom-card-items); */
  cursor: pointer;
}
.btn-new-card:hover {
  background-color: rgb(230, 230, 230);
}
.btn-new-card .new-card-icon {
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 20px;
  color: rgb(230, 50, 50);
}
.btn-new-card .new-card-text {
  font-size: 15px;
  color: rgb(130, 130, 130);
  /* color: rgb(230, 50, 50); */
}

/****************** CARD-BOX ******************/
.card-box {
  border: 1px solid var(--color-border-card-elements);
  border-radius: var(--border-radius-card-items);
  margin-bottom: var(--maring-bottom-card-items);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  cursor: pointer;

  transition: var(--transition-card-selected);
  height: 70px; /*80*/

  position: relative;
  z-index: 0;
}
.card-box:hover {
  background-color: var(--color-bg-cardbox-selected);
  border: var(--border-card-selected) solid var(--color-border-cardbox-selected);
}
.card-box:hover .card-type {
  background-color: var(--color-bg-cardbox-info-selected);
}
.card-box .select-container {
  width: 0px; /* faz os elemntos do container 'flutuar' para nao empurrar os elementos vizinhos */
  position: relative;
  top: -45px;
}
.card-box .card-type {
  display: none;
}
.card-box .text-select {
  transition: var(--transition-card-selected);
  color: transparent;
  height: 0px;
  width: 0px;
  min-width: 0px;
  border: 0px;
  font-size: 0px;
}
.card-box .card-line-1 {
  transition: var(--transition-card-selected);
  font-size: 17px;
  color: var(--color-cardLine1);
  text-transform: lowercase;
  font-style: italic;
}
.card-box .card-line-2 {
  font-style: italic;
  transition: var(--transition-card-selected);
  color: var(--color-cardLine2);
  font-size: 14px;
  text-transform: uppercase;
}
.card-box .card-box-controls {
  margin-left: auto;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 10;
}
.card-box .card-box-controls i {
  color: var(--color-cardbox-controls);
}
.card-box .card-box-controls i:hover {
  color: var(--color-cardbox-controls-hover);
}

/****************** CARD-BOX-IS-SELECTED ******************/
.card-box-is-selected {
  border: var(--border-card-selected) solid var(--color-border-cardbox-selected);
  background-color: var(--color-bg-cardbox-selected);
  height: 100px;
}
.card-box-is-selected .select-container {
  display: flex; /* deixa de 'flutar' */
  align-items: center;
  position: relative;
  top: -45px;
}
.card-box-is-selected .card-type {
  background-color: var(--color-bg-cardbox-info-selected);
  color: black;
}
.card-box-is-selected .text-select {
  background-color: var(--color-bg-cardbox-info-selected);
  color: black;
  display: flex;
  align-items: center;
  min-width: 180px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: var(--border-radius-card-items);
  text-transform: capitalize;
}

.card-box-is-selected .card-line-1 {
  color: var(--color-cardline1-selected);
  font-size: 21px;
}
.card-box-is-selected .card-line-2 {
  color: var(--color-cardline2-selected);
  font-size: 16px;
}

/****************** CARD-FORM ******************/
#card-form {
  /* display alterado via javascript */
  display: none;
  border: 1px solid var(--color-border-card-elements);
  width: 100%;
  border-radius: var(--border-radius-card-items);
  padding: 10px 0;
}
#card-form .blocoInput {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#card-form .blocoInput label {
  color: var(--color-cardform-label);
  margin-left: 3px;
}
#card-form .blocoInput input {
  border: 1px solid var(--color-border-card-elements);
  height: 40px;
  width: 100%;
  font-size: 15px;
}
#card-form .blocoButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
#card-form .button {
  height: 40px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-form .confirmarBtn {
  background-color: rgb(20, 173, 15);
}
#card-form .confirmarBtn:hover {
  background-color: rgb(30, 190, 30);
}
#card-form .cancelarBtn {
  background-color: rgb(240, 90, 60);
}
#card-form .cancelarBtn:hover {
  background-color: rgb(255, 99, 71);
}
