:root {
  --color-addr-elements-border: rgb(200,200,200);
  --color-addrbox-border-selected: rgb(255, 90, 50);
  --color-addrbox-bg-selected: rgb(255,255,230);
  --color-addrbox-info-bg-selected: rgb(255, 140, 80);
  --color-addrLine1: rgb(50,50,50);
  --color-addrline1-selected: rgb(255, 90, 50);
  --color-addrLine2: rgb(150,150,150);
  --color-addrline2-selected: rgb(130,130,130);
  --color-addrbox-controls: rgb(100,100,100);
  --color-addrbox-controls-hover: rgb(255, 90, 50);
  --color-addrform-label: rgb(140,140,140)
}

.w100{
  width: 100%;
}
.w50{
  width: 50%;
}
.w30{
  width: 30%;
}
.w20{
  width: 20%;
}

#crud-endereco {
  width: 100%;
  padding: 30px 0;
}
#crud-endereco-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

/****************** LOCATION FIELD ******************/
#locationField {
  border: 1px solid var(--color-addr-elements-border);
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#locationField i.fa-search{
  margin: 0 5px;
}
#locationField input#autocomplete{
  /* display: none; */
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px; /*precisa de radius pra nao cortar a borda do elemento pai*/
}

/****************** ADDRESS-BOX ******************/
.address-box{
  border: 1px solid var(--color-addr-elements-border);
  border-radius: 5px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  cursor: pointer;

  transition: 0.25s ease-in-out;
  height: 70px; /*80*/
}
.address-box:hover{
  background-color: var(--color-addrbox-bg-selected);
  border: 3px solid var(--color-addrbox-border-selected);
}
.address-box:hover .address-type{
  background-color:  var(--color-addrbox-info-bg-selected);
}
.address-box .select-container{
  /* faz o container 'flutuar' para nao empurrar os elementos vizinhos */
  position: fixed; 
}
.address-box .address-type{
  display: none;
}
.address-box .text-select {
  transition: 0.25s ease-in-out;
  color: transparent;
  height: 0px;
  border: 0px;
  font-size: 0px;
}
.address-box .address-line-1{
  transition: 0.25s ease-in-out;
  font-size: 17px;
  color: var(--color-addrLine1);
}
.address-box .address-line-2{
  font-style: italic;
  transition: 0.25s ease-in-out;
  color: var(--color-addrLine2);
  font-size: 14px;
}
.address-box .address-box-controls{
  /* border: 1px solid black; */
  margin-left: auto;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
}
.address-box .address-box-controls i{
  color: var(--color-addrbox-controls);
}
.address-box .address-box-controls i:hover{
  color: var(--color-addrbox-controls-hover);
}

/****************** ADDRESS-BOX-HAS-TYPE ******************/
.address-box-type-home .select-container,
.address-box-type-work .select-container{
  display: flex; /* deixa de 'flutar' */
  align-items: center;
  position: relative;
  top: -12px;
}

.address-box-type-home .type-home,
.address-box-type-work .type-work {
  display: flex;
  align-items: center;
  background-color: var(--color-addr-elements-border);
  height: 22px;
  padding: 0px 4px;
  border-radius: 5px;
  margin-right: 5px;
}
.address-box-type-home .type-home i,
.address-box-type-work .type-work i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.address-box-type-home .type-home .text-icon,
.address-box-type-work .type-work .text-icon{
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}
.address-box-type-home .address-text,
.address-box-type-work .address-text{
  position: relative;
  top: -10px;
}


/****************** ADDRESS-BOX-IS-SELECTED ******************/
.address-box-is-selected {
  border: 3px solid var(--color-addrbox-border-selected);
  background-color: var(--color-addrbox-bg-selected);
  height: 100px;
}
.address-box-is-selected .select-container {
  display: flex; /* deixa de 'flutar' */
  align-items: center;
  position: relative;
  top: -23px;
}
.address-box-is-selected .address-type {
  background-color: var(--color-addrbox-info-bg-selected);
  color: black;
}
.address-box-is-selected .text-select{
  background-color: var(--color-addrbox-info-bg-selected);
  color: black;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: 5px;
  text-transform: capitalize;
}
.address-box-is-selected .address-text{
  position: relative;
  top: -10px;
}
.address-box-is-selected .address-line-1{
  color: var(--color-addrline1-selected);
  font-size: 21px;
}
.address-box-is-selected .address-line-2{
  color: var(--color-addrline2-selected);
  font-size: 16px;
}

/****************** ADDRESS-FORM ******************/
#address-form{
  /* display alterado via javascript */
  display: none; 
  border: 1px solid var(--color-addr-elements-border);
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
}
#address-form .blocoInput {
  /* border: 1px solid orange; */
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#address-form .blocoInput label {
  color: var(--color-addrform-label);
  margin-left: 3px;
}
#address-form .blocoInput input{
  border: 1px solid var(--color-addr-elements-border);
  height: 40px;
  width: 100%;
  font-size: 15px;
}
#address-form #radio-control{
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#address-form #radio-control input{
  margin-right:20px;
}
#address-form .blocoButton{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
#address-form .button{
  height: 40px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#address-form .confirmarBtn{
  background-color: rgb(20, 173, 15);
}
#address-form .confirmarBtn:hover{
  background-color: rgb(30, 190, 30);
}
#address-form .cancelarBtn{
  background-color: rgb(240, 90, 60);
}
#address-form .cancelarBtn:hover{
  background-color: rgb(255, 99, 71);
}