.w100{
  width: 100%;
}
.w50{
  width: 50%;
}
.w30{
  width: 30%;
}

form#pagamento{
  display: none;
  border: 1px solid rgb(200,200,200);
  width: 100%;
  border-radius: 5px;
}

form#pagamento .blocoInput {
  /* border: 1px solid orange; */
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

form#pagamento .blocoInput input{
  border: 1px solid rgb(200,200,200);
  height: 40px;
  width: 100%;
}