.w100{
  width: 100%;
}
.w50{
  width: 50%;
}
.w30{
  width: 30%;
}
.w20{
  width: 20%;
}

div#localAutoComplete {
  width: 100%;
}

/* #address-list{
  border: 1px solid rgb(200,200,200);
} */
.address-box{
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
}

.address-box-controls{
  margin-left: auto;
}

.address-line-1{
  font-size: 20px;
  color: rgb(50,50,50);
}
.address-line-2{
  font-style: italic;
  color: rgb(150,150,150);
}

input#autocomplete{
  /* display: none; */
  border: 1px solid rgb(200,200,200);
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

form#address{
  /* display alterado via javascript */
  display: none; 
  border: 1px solid rgb(200,200,200);
  width: 100%;
  border-radius: 5px;
}

form#address .blocoInput label {
  color: rgb(140,140,140);
  margin-left: 3px;
}

form#address .blocoInput {
  /* border: 1px solid orange; */
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

form#address .blocoInput input{
  border: 1px solid rgb(200,200,200);
  height: 40px;
  width: 100%;
  font-size: 15px;
}

form#address .blocoButton{
  display: flex;
  justify-content: space-between;
}

form#address .button{
  height: 40px;
  width: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
form#address .confirmarBtn{
  background-color: rgb(20, 173, 15);
}
form#address .confirmarBtn:hover{
  background-color: rgb(30, 190, 30);
}
form#address .cancelarBtn{
  background-color: rgb(240, 90, 60);;
}
form#address .cancelarBtn:hover{
  background-color: rgb(255, 99, 71);
}