*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  border-bottom: 1px solid rgb(220, 220, 220);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
}
header img {
  height: 45px;
}

header .user_info {
  /* width: 200px; */
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
}

header #user_name{
  text-transform: capitalize;
  /* font-weight: bold; */
  margin-left: 5px;
}

main {
  display: flex;
  justify-content: space-between;
}

.containerForms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerForms .containerCrudEndereco,
.containerForms .containerCrudCartao,
.containerForms #btn-fazer-pedido{
  width: 500px;
}
.containerForms .containerCrudEndereco{
  padding: 20px 0px;
}
/* .containerForms .containerCrudCartao{
  padding: 20px 0px;
} */
.containerForms #btn-fazer-pedido{
  font-size: 20px;
  text-transform: capitalize;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
  margin: 20px 0px;
}
.containerForms #btn-fazer-pedido:hover{
  background-color: tomato;
}

.containerSacola {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.containerSacola #crud-sacola {
  position: fixed;
  top: 100px;
  width: 500px;
  height: 75%;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.12);
  box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.12); 
  background-color: rgb(250,250,250);
}
.containerSacola .icone-sacola,
.containerSacola button.pagamento{
  display: none;
}


/* tela menor que 1020px */
@media screen and (max-width: 1020px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .containerSacola{
    order: 1;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    /* border: 2px solid red; */
  }
  .containerSacola #crud-sacola{
    position: unset;
    width: 500px;
    margin: 0 auto;
    height: fit-content;
  }

  .containerForms{
    /* border: 2px solid blue; */
    order: 2;
  }
}

/* tela menor que 520px */
@media screen and (max-width: 520px) {
  .containerForms .containerCrudEndereco,
  .containerForms .containerCrudCartao,
  .containerForms #btn-fazer-pedido,
  .containerSacola {
    width: 95%;
  }
}