*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.w100{
  width: 100%;
}
.w50{
  width: 50%;
}
.w30{
  width: 30%;
}

main{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.containerForms{
  /* border: 2px solid red; */
  width: 100%;
}

.containerLocalAutocompletar,
.containerPagamento{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerLocalAutocompletar form,
.containerPagamento form{
  /* border: 2px solid green; */
  width: 500px;
}

.blocoInput {
  /* border: 1px solid orange; */
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.blocoInput label{
  /* position: relative;
  left: 10px;
  top: 8px;
  background-color: white;
  padding: 0px 5px; */
}

.blocoInput input{
  height: 40px;
  width: 100%;
}


.containerSacola {
  border-left: 1px solid gray;
  min-width: 450px;
}
