*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

main{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.containerForms{
  /* border: 2px solid red; */
  width: 100%;
}

.containerLocalAutocompletar,
.containerPagamento{
  /* border: 1px solid blue; */
  width: 500px;
  margin: 0 auto;
}

.containerSacola {
  border-left: 1px solid gray;
  min-width: 450px;
}
